/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 15px;
}

h5 {
    font-weight: bold;
}

p.alert{
  color: red;
}

span.alert{
  color: red;
  padding: 0;
}

pre.textual-protocol {
  font-family: "Liberation Sans", sans-serif;
}

label.questionnaire-options {
  font-weight: normal;
}

span.not-recognized {
    color: red;
}

blockquote {
    margin: 10px 0;
    border-left: 1px solid #333;
    font-size: inherit;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #60c8a3;
}

a:hover, a.nep-disabled {
  color: #626e6f;
  text-decoration: none;
}

a:focus, a:hover {
  color: #626e6f;
}

*.icon-grey {
  color: grey;
}

i#new_experiments {
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.badger:after {
  position: absolute;
  background: red;
  height: 2rem;
  top: -0.2rem;
  right: 0.2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
}

/*
  ========================================
  Buttons
  ========================================
*/

/* this is for removing shadow from submit buttons
   it's used together with .nep-btn */
.nep-btn-submit {
  border: none;
}

.nep-btn {
  background: #52af8e;
  color: #fff;
  padding: 3px 12px;
  border-radius: 15px;
  vertical-align: middle;
}

a.nep-btn {
  text-decoration: none;
}

.nep-btn:hover {
  color: #fff;
  background: #a9b2b9;
}

.nep-btn:focus {
  color: #fff;
  background: #a9b2b9;
}

.nep-btn-secondary {
    background: none;
    color: #4C5455;
    padding: 3px 0px;
    vertical-align: middle;
}

a.nep-btn-secondary {
  text-decoration: none;
}

.nep-btn-secondary:hover {
  color: #52af8e;
}

.nep-btn-secondary .glyphicon {
    top: 2px;
    margin-right: 2px;
    font-size: 17px;
}

.nep-return {
    background: #ffffff;
    color: #626e6f;
    padding: 3px 12px;
    border: 1px solid #626e6f;
    border-radius: 2px;
    vertical-align: middle;
}

a.nep-return {
  text-decoration: none;
}

a:hover.nep-return {
  color: #fff;
  background: #626e6f;
  border: none;
}

.nep-return .glyphicon {
    top: 2px;
}

.label-success {
    background-color: #3a70a5;
}

/*
  ========================================
  Top
  ========================================
 */

.nep-top {
    margin-top: 10px;
    padding-left: 0;
}

.top-alignment-left{
    padding: 0;
}

.top-alignment-right{
    padding: 0;
}

.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-right: 10px;
  font-size: 40px;
  color: #333;
}

.top-neuromat:hover,.top-neuromat:focus  {
    text-decoration: none;
    color: #000;
}

.top-small {
  font-size: smaller;
  display: inline-block;
  width: 34%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  border-left: 1px solid #2b2d2d;
  padding-left: 10px;
}

.top-login-language {
  float: right;
  position: relative;
  top: 30%;
  text-align: right;
}

.top-login-language a {
  color: #2b2b2b;
  padding: 4px 20px;
  border-radius: 3px;
  margin-right: 3px;
}

.top-login-language a:hover,.top-login-language a:focus {
  color: #ffffff;
  background-color: #60c8a3;
  border-radius: 3px;
  padding: 4px 20px;
}

/* override bootstrat navbar-nav class */
.navbar-nav > li > a.top-language {
  padding: 0;
}

/* override bootstrat navbar-nav class */
.navbar-nav > li > a.top-language-logged {
  padding: 3px;
}

/* override bootstrat dropdown*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border-radius: 3px;
    color: #40c899;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    background-color: rgba(255,255,255,.8);
    border: 1px solid rgba(226, 222, 218, 0.5);
}

/*
  ========================================
  Header
  ========================================
 */
.nep-background {
    background-color: #EA285B;
    height: 228px;
    display: inline-block;
    margin: 2em auto;
    border-radius: 100%;
}
.header-home {
    background-color: #A4A6A7;
    background-image:url("../../media/site/Background.png");
    background-repeat: no-repeat;
    background-size: 1171px;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #60c8a3;
}

.detail-header {
  border-left: 1px solid #a6aaad;
  border-top: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.container-form-header {
    margin: 0 200px;
}

.spacing-form{
    margin: 15px 0 20px 0;
}

.detail-header h2{
  text-align: center;
}

.detail-title {
  float: left;
  margin: 10px 5px;
}
.detail-back-search {
  float: right;
  margin: 10px 5px;
}

.detail-description {
  clear: both;
  margin: 10px 5px;
}

.detail-header-hr {
  border-top: 1px solid #a6aaad;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-study {
  float: left;
}

.align-right {
  float: right;
}

.detail-donwload {
  clear: both;
  float:right;
}

/*
  ========================================
  Body
  ========================================
*/

.table-title {
  clear: right;
  text-align: center;
}

.nep-content {
  border-left: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-bottom: 1px solid #a6aaad;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 5px;
}

.warning-message {
  margin-top: 20px;
}

.login-block {
  display: table;
  margin: 0 auto;
}

/*
  ========================================
  Container Detail Experiment
  ========================================
*/

.detail-container {
  border: 1px solid #a6aaad;
}

/*
  ========================================
  Search
  ========================================
 */

.search-box {
  display: inline-block;
  width: 60%;
}

.search-select {
  max-width: 50.2%; /* to align right with search input text box */
}

h5.match {
  font-size: 16px;
  margin-bottom: 0px;
}


/*
  ========================================
  Footer
  ========================================
*/

.nep-footer {
  color: #fff;
  background: #333;
  border-radius: 3px;
}

.footer-content-align {
  text-align: center;
  margin-top:20px;
}

.nep-footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.nep-footer span {
  background-color: #ffffff;
    color: #333;
    padding: 5px;
    margin-right: 5px;
    font-size: 23px;
    border-radius: 3px;
}

.nep-footer .fa-facebook{
    padding: 5px 8px;
}

.nep-footer a {
  color: #ffffff;
}

.nep-footer a:hover, .nep-footer a:active {
    color: #ffffff;
    text-decoration: underline;
}

.footer-license {
  float: right;
}

.footer-license p {
  font-size: 13px;
  margin: 15px 10px;
}

/*
  ========================================
  Experiment table
  ========================================
 */

.experiment-table table {
  border-color: #a6aaad;
  border-spacing: 20px;
  border-collapse: separate;
}

.experiment-table thead{
    border-bottom: 5px solid transparent;
    background: #60c8a3;
}

.titulo{
    border-left: 4px solid #52af8e;
}

/*
  ========================================
  Experiment details tabs
  ========================================
 */

.groups-tab {
  margin-top: 20px;
}

.nep-panel-group {
  padding: 10px;
  background-color: #e9e7e5;
}

.prot-exp-image>a>img {
  width: 100%;
  height: 150px;
}

#full_image {
  display: block;
  margin: 0 auto;
}

.portal-tab-content{
  border-bottom: solid 10px #52af8e;
  margin-bottom: 10px;
}

.spacing-content {
    margin-top: 20px;
}

/*
  ========================================
  Bootstrap overrides
  ========================================
 */
/* overrides bootstrap class */

/* This is changing the appearance of the Bootstrap Primary button */

.container-form-header .btn {
    display: inline-block;
    padding: 6px 30px;
}

.btn-primary {
    color: #fff;
    background-color: #60c8a3 ;
    border-color: #60c8a3;
    margin: 4px;
}

.btn-primary:hover {
    background-color: #52af8e ;
    border-color: #52af8e;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #52af8e ;
    border-color: #4a9c7f;
}

.form-group .btn-primary {
    float: right;
    margin: 0;
}

.nav-tabs {
    border-bottom: 1px solid #60c8a3;
}

.nav-tabs>li>a:hover {
    border-color: #60c8a3;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #60c8a3;
    border: 1px solid #60c8a3;
    border-radius: 4px 4px 0 0;
}

.list-group-item {
  background: transparent;
  border: none;
  padding: 5px 0px;
}

#protocol_image_full .modal-dialog {
  display: table;
}

/*
  ========================================
  Forms
  ========================================
 */

.text-box-justification {
  width: 100%;
}

.input-disabled {
  pointer-events: none;
}

/*
  ========================================
  Messages
  ========================================
 */

.nep-alert {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

/*
  ========================================
  Haystack
  ========================================
 */
/* used when highlight haystack tag is used in template */
.highlighted {
  background: yellow;
}

/*
 ========================================
  Adaptations on mobile devices
  ========================================
 */

/* smartphone landscape */
@media (max-width: 480px) {
    .top-neuromat {
      font-size: 29px;
      margin-top: 8px;
    }
    .top-alignment-left {
      padding: 0 5px;
    }
    .top-small {
      width: 44%;
    }
    .top-alignment-right {
      padding: 5px 0 10px 0;
    }
    .top-login-language {
      text-align: center;
    }
    .container-form-header {
    margin: 0;
}
}
/* smartphone landscape or tablet portrait */
@media (min-width: 481px) and (max-width: 767px) {
    .top-small {
      width: 30%;
    }
    .top-alignment-right {
      padding: 0 0 10px 0;
    }
    .top-login-language {
      text-align: center;
    }
    .container-form-header {
        margin: 0;
    }
}
/* desktop */
@media (min-width: 768px) and (max-width: 1024px) {
    .top-alignment-right {
      padding: 0 0 10px 0;
    }
    .container-form-header {
      margin: 0;
    }
}

@media (min-width: 1200px) {
 #settings_tab .container {
    width: 1135px;
}
}

