/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
  ========================================
  Top
  ========================================
 */

.nep-top {
  height: 60px;
}
.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-right: 10px;
}
.top-small {
  font-size: smaller;
  display: inline-block;
  width: 13%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  margin-left: 10px;
  border-left: 2px solid #000;
  padding-left: 10px;
}
.top-language {
  font-size: small;
  float: right;
  position: relative;
  top: 30%;
}

/*
  ========================================
  Header
  ========================================
 */

.header-home {
  background: #a6aaad;
  text-align: center;
  border-radius: 3px;
  border-bottom: 5px solid #60c8a3;
}

.search-box {
  margin-bottom: 20px;
}

.detail-header {
  border-left: 1px solid #a6aaad;
  border-top: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.detail-header h2{
  text-align: center;
}

.detail-title {
  float: left;
  margin: 10px 5px;
}
.detail-back-search {
  float: right;
  margin: 10px 5px;
}

.detail-description {
  clear: both;
  margin: 10px 5px;
}

.detail-header-hr {
  margin-bottom: 2px;
}

.detail-study {
  float: left;
}

.detail-acquisition {
  float: right;
}

.detail-donwload {
  clear: both;
  float:right;
}

/*
  ========================================
  Body
  ========================================
*/

.table-title {
  text-align: center;
}

.toggable-tabs {
  height: 400px;
  border-left: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-bottom: 1px solid #a6aaad;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 5px;
}


/*
  ========================================
  Container Detail Experiment
  ========================================
*/

.detail-container {
  border: 1px solid #a6aaad;
}

/*
  ========================================
  Footer
  ========================================
*/

.nep-footer {
  color: #fff;
  background: #80868a;
  border-radius: 3px;
}

.footer-license {
  float: right;
}

/*
  ========================================
  Experiment table
  ========================================
 */

.experiment-table table {
  border-color: #a6aaad;
  border-spacing: 20px;
  border-collapse: separate;
}

.experiment-table thead{
  background: #60c8a3;
}

/*
  ========================================
  Bootstrap overrides
  ========================================
 */

a {
  color: #60c8a3;
}

a:hover {
  color: #a9b2b9;
  text-decoration: none;
}

/*
  ========================================
  Bootstrap overrides
  ========================================
 */
/* overrides bootstrap class */
.list-group-item {
  background: #80868a;
  border: none;
}