/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

p.alert{
  color: red;
}

span.alert{
  color: red;
  padding: 0;
}

pre.textual-protocol {
  font-family: "Liberation Sans", serif;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #60c8a3;
}

a:hover, a.nep-disabled {
  color: #a9b2b9;
  text-decoration: none;
}

*.icon-grey {
  color: grey;
}

i#new_experiments {
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.badger:after {
  position: absolute;
  background: red;
  height: 2rem;
  top: -0.2rem;
  right: 0.2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
}

/*
  ========================================
  Buttons
  ========================================
*/

/* this is for removing shadow from submit buttons
   it's used together with .nep-btn */
.nep-btn-submit {
  border: none;
}

.nep-btn {
  background: #60c8a3;
  color: #fff;
  padding: 2px 12px;
  border-radius: 18px;
  vertical-align: middle;
}

a.nep-btn {
  text-decoration: none;
}

a:hover.nep-btn {
  color: #fff;
  background: #a9b2b9;
}

/*
  ========================================
  Top
  ========================================
 */

.nep-top {
  height: 60px;
}

.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-right: 10px;
}

.top-small {
  font-size: smaller;
  display: inline-block;
  width: 13%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  margin-left: 10px;
  border-left: 2px solid #000;
  padding-left: 10px;
}

.top-login-language {
  float: right;
  position: relative;
  top: 30%;
}


/* override bootstrat navbar-nav class */
.navbar-nav > li > a.top-language {
  padding: 0;
}

/* override bootstrat navbar-nav class */
.navbar-nav > li > a.top-language-logged {
  padding: 3px;
}


/*
  ========================================
  Header
  ========================================
 */

.header-home {
  background: #a6aaad;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid #60c8a3;
}

.detail-header {
  border-left: 1px solid #a6aaad;
  border-top: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.detail-header h2{
  text-align: center;
}

.detail-title {
  float: left;
  margin: 10px 5px;
}
.detail-back-search {
  float: right;
  margin: 10px 5px;
}

.detail-description {
  clear: both;
  margin: 10px 5px;
}

.detail-header-hr {
  margin-bottom: 4px;
}

.detail-study {
  float: left;
}

.align-right {
  float: right;
}

.detail-donwload {
  clear: both;
  float:right;
}

/*
  ========================================
  Body
  ========================================
*/

.table-title {
  clear: right;
  text-align: center;
}

.nep-content {
  border-left: 1px solid #a6aaad;
  border-right: 1px solid #a6aaad;
  border-bottom: 1px solid #a6aaad;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 5px;
}

.warning-message {
  margin-top: 20px;
}

.login-block {
  display: table;
  margin: 0 auto;
}

/*
  ========================================
  Container Detail Experiment
  ========================================
*/

.detail-container {
  border: 1px solid #a6aaad;
}

/*
  ========================================
  Search
  ========================================
 */

.search-box {
  display: inline-block;
  width: 60%;
}

.search-select {
  max-width: 50.2%; /* to align right with search input text box */
}

h5.match {
  font-size: 16px;
  margin-bottom: 0px;
}


/*
  ========================================
  Footer
  ========================================
*/

.nep-footer {
  color: #fff;
  background: #80868a;
  border-radius: 3px;
}

.footer-license {
  float: right;
}

/*
  ========================================
  Experiment table
  ========================================
 */

.experiment-table table {
  border-color: #a6aaad;
  border-spacing: 20px;
  border-collapse: separate;
}

.experiment-table thead{
  background: #60c8a3;
}

/*
  ========================================
  Experiment details tabs
  ========================================
 */

.groups-tab {
  margin-top: 20px;
}

.nep-panel-group {
  padding: 10px;
  background-color: #e9e7e5;
}

.prot-exp-image>a>img {
  width: 100%;
  height: 150px;
}

#full_image {
  display: block;
  margin: 0 auto;
}

/*
  ========================================
  Bootstrap overrides
  ========================================
 */
/* overrides bootstrap class */

.list-group-item {
  background: #80868a;
  border: none;
}

#protocol_image_full .modal-dialog {
  display: table;
}

/*
  ========================================
  Forms
  ========================================
 */

.text-box-justification {
  width: 100%;
}

/*
  ========================================
  Messages
  ========================================
 */

.nep-alert {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

/*
  ========================================
  Haystack
  ========================================
 */
/* used when highlight haystack tag is used in template */
.highlighted {
  background: yellow;
}