{% extends 'experiments/base.html' %}

{% block header %}
    {% load i18n %}
    <header class="container header-home">
        {% load i18n %}
        <h1>{% trans "Neuroscience Experiments Database" %}</h1>
        <h4>{% trans "Open Platform for Experiments in Neuroscience" %}</h4>
    </header>
{% endblock %}

{% block content %}
    <section class="container nep-content">
        {% if messages %}
            {% include 'experiments/messages.html' %}
        {% endif %}
        <h1 align="center">{% trans '404 - Not Found' %}</h1>
        <p align="center">{% trans 'Ops... It seems you tried to access an inexistent page.' %}</p>
    </section>
{% endblock %}

{% block script %}
    <script src="{% url 'javascript-catalog' %}"></script>
    {##}
    {## Script related to experiments/top.html #}
    {##}
    <script>
        let to_be_analysed_count = {{ to_be_analysed_count }};
        if (to_be_analysed_count) {
            $('head').append('<style>.badger::after{content:"' +
                to_be_analysed_count + '"}</style>');
        }
    </script>
{% endblock %}